<% if user_signed_in? %>
	<div class="row">
		<aside class="col-md-4">
			<div class="user-info">
				<%= render 'shared/user_info' %>	
			</div>
			<div class="micropost-form">
				<%= render 'shared/micropost_form' %>	
			</div>
		</aside>	
		<div class="col-md-6">
			<div class="row">				
				<div class="panel panel-info panel-tweet">
					<%= render 'shared/stats' %>	
				</div>
				<%= render 'shared/feed' %>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
<% else %>
		<div class="row">
			<div class="col-md-6">
				<div class="front-welcome">
					<h1>Welcome to MG Social Site</h1>

					<p>
						Connect with your friends — and other fascinating people. Get in-the-moment updates on the things that interest you. And watch events unfold, in real time, from every angle.
					</p>
				</div>
			</div>
			
			<div class="col-md-6 front-signin">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="well well-sm">
							<%= render 'users/forms/session_form' %>			
						</div>
					</div>	

					<div class="col-md-8 col-md-offset-2">
					<div class="well well-sm">
						<h4>New to MG Social Site? Sign up</h4>
						<hr />
						<%= render 'users/forms/register_new_form' %>		
					</div>
					</div>

				</div>
			</div>
		</div>
<% end %>
