<%= form_for(:user, as: resource_name, url: session_path(:user)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <div class="col-sm-8">
        <div class="checkbox">
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me, class: "check_box_front" %>    
        </div>
      </div>
    </div>
  <% end -%>
  
  <%= f.submit "Log In", class: "btn btn-primary btn-block" %>
  
<% end %>

<p>
  <%= link_to "Forgot your password?", new_password_path(:user) %>
</p> 