<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render('layouts/shim') %>
</head>
<body>
	<%= render "layouts/header" %>

	<div class="container">
		<%= render 'layouts/messages' %>	

		<%= yield %>

		<%= render 'layouts/footer' %>	
	</div>


	<%= debug(params) if Rails.env.development? %>

<script>
	$.backstretch([
		"<%= asset_path("background1.jpg", alt: "Rails logo") %>",
		"<%= asset_path("background2.jpg", alt: "Rails logo") %>",
		"<%= asset_path("background3.jpg", alt: "Rails logo") %>",
		"<%= asset_path("background4.jpg", alt: "Rails logo") %>"
	], {duration: 3000, fade: 750});
</script>
</body>
</html>
